In [1]:
### aprendendo uso do map

## map: aplica uma funcao a cada item de uma lista

In [2]:
precos = [1000,1500,1250,2500]

def adicionar_imposto(preco):
    return preco*1.1

In [3]:
## jeito manual, usando loop for


precos_com_imposto = []
for preco in precos:
    precos_com_imposto.append(adicionar_imposto(preco))
    
precos_com_imposto

[1100.0, 1650.0000000000002, 1375.0, 2750.0]

In [4]:
### usando o map --> deve-se passar a func e qual a lista que a func vai ser aplicada


precos_com_imposto2 = list(map(adicionar_imposto, precos))
precos_com_imposto2

[1100.0, 1650.0000000000002, 1375.0, 2750.0]

In [5]:
###### outro exemplo #######

In [6]:
import pandas as pd

In [7]:
tabela = pd.read_csv('dados.txt')
tabela

    produto  valor
0        tv   1000
1  telefone    500
2     radio    200

In [8]:
#### aplicando o map para criar uma nova coluna com o imposto

tabela['preco_com_imposto'] = list(map(adicionar_imposto, tabela.valor))
tabela

    produto  valor  preco_com_imposto
0        tv   1000             1100.0
1  telefone    500              550.0
2     radio    200              220.0

In [9]:
## caso precise exportar a saida
tabela.to_excel('saida.xlsx')

In [10]:
#### aplicando categorias de um dicionario via map

In [11]:
dict_categorias = {
 'tv': 'nacional',
 'telefone': 'importado'
}

dict_categorias

{'tv': 'nacional', 'telefone': 'importado'}

In [12]:
## cria uma nova coluna com a categoria, e caso nao esteja no dicionario gera uma alternativa extra
tabela['categoria'] = tabela.produto.map(dict_categorias).fillna('nao_categorizado')
tabela

    produto  valor  preco_com_imposto         categoria
0        tv   1000             1100.0          nacional
1  telefone    500              550.0         importado
2     radio    200              220.0  nao_categorizado